{% extends 'products/base.html' %}
{% block content %}
 <section id="services" class="services section-bg m-4 p-4">
   <div class="container-fluid">
      <div class="row row-sm">
         <div class="col-md-6">
            <div class="text-center mt-4 p-4 _product-images">
               <h1>{{ details.title }}</h1>
               <div class="picZoomer">
                  <img class="my_img" width="20%" src="{{details.image.url}}" alt="">
               </div>
            </div>
         </div>
         <div class="card col-md-6 mt-4 p-4">
            <div class="card-body">
               <h4 class="_p-name"><b> {{ details.title }} </b></h4>
               <div class="_p-price-box">
                  <div class="p-list">
                     <span> M.R.P. : <i class="fa fa-inr"></i> <del> {{ details.price }}  </del>   </span>
                     <span class="price"> Rs. {{ details.price }} </span>
                  </div>
                  <div class="_p-features">
                     <span> Description About this product:- </span>
                     {{ details.description }}                       
                  </div>
                  <form action="{% url 'cart_add' details.id %}" method="post" accept-charset="utf-8">
                     {% csrf_token %}
                     <ul class="spe_ul"></ul>
                     <div class="_p-qty-and-cart">
                        <div class="_p-add-cart">
                           <button class="btn-theme btn btn-primary mt-4" tabindex="0">
                           <i class="fa fa-shopping-cart"></i> Add to Cart
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}

